

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 1rem 20px 1rem 20px;
    width: auto;
    margin: 0;
}

header a {
    color: black;
    text-decoration: none;
}


footer {
    background-color: var(--dark-gray);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 3rem 20px 3rem 20px;
    align-items: center;
}

.icon-links li i {
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    font-size: 2rem;
}

.icon-links li a {
    text-decoration: none;

}
.header-ul-flex-list {
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
}
.icon-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
}

