.compeling-headline-section {
    position: relative;
    /*background-color: lightgray;*/
    overflow: hidden;

    gap: 20px;
}

.compeling-headline-section h1 {
    margin: 0;
}

#background-video {
    top: -10%;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    right: 0;
    z-index: -1;
}

.engaging-subheading-section {
    border-bottom: 2px solid lightgray;
}

.align-at-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 5rem 3rem 5rem;
}