.compeling-headline-section {
    position: relative;
    /*background-color: lightgray;*/
    overflow: hidden;

    gap: 20px;
}

.compeling-headline-section h1 {
    margin: 0;
}

#background-video {
    top: -10%;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    right: 0;
    z-index: -1;
}

.engaging-subheading-section {
    border-bottom: 2px solid lightgray;
}

.aside-card {
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 0;
    top: 0;
    right: 0;

}
.figure-img-fill-width {
    position: relative;
    overflow: hidden;
    display: block;
}

.figure-img-fill-width img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}



.align-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 0;
}

.aside-card {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 3rem;
}

#about-our-company {
    min-height: 25rem;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#portfolio-section {
    min-height: 25rem;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#portfolio-section header {
    display: flex;
    top: 0;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    background-size: cover;
    right: 0;
    z-index: -1;
    margin: 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.568);
    justify-content: center;
}

.background-image-figure {
    top: 0;
    position: absolute;
    min-width: 100%;
    width: 100%;
    height: auto;
    background-size: cover;
    right: 0;
    z-index: -1;
    margin: 0;
}
.background-image-figure img {
    min-width: 100%;
    width: 100%;
    height: auto;
}