.compeling-headline-section {
    position: relative;
    /*background-color: lightgray;*/
    overflow: hidden;

    gap: 20px;
}

.compeling-headline-section h1 {
    margin: 0;
}

#background-video {
    top: -10%;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    right: 0;
    z-index: -1;
}

.engaging-subheading-section {
    border-bottom: 2px solid lightgray;
}

.align-at-middle-60 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 0;
}

.padding-vertical-5 {
    padding: 5rem 0;
}

.padding-vertical-4 {
    padding: 4rem 0;
}

.padding-vertical-3 {
    padding: 3rem 0;
}

.padding-vertical-2 {
    padding: 3rem 0;
}


.margin-vertical-2 {
    margin: 2rem 0;
}

.align-at-middle-60 >* {
    width: 60%;
}

.align-at-middle-80 >* {
    width: 80%;
}

.aside-card {
    position: fixed;
    width: 100%;
    padding: 0;
    top: 0;
    right: 0;

}
.figure-img-fill-width {
    position: relative;
    overflow: hidden;
    display: block;
}

.figure-img-fill-width img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}



.align-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 0;
}

.aside-card {
    position: absolute;
    top: 0;
    right: 20px; /* Adjusted from -50% to 20px */
    background: rgba(255, 255, 255, 0.8); /* Optional: for readability */
    padding: 20px; /* Optional: for spacing */
    width: calc(100% - 40px); /* Full width minus padding */
    box-sizing: border-box; /* Ensure padding is included in width */
}

.about-our-company {
    min-height: 25rem;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.background-image-figure {
    top: 0;
    position: absolute;
    min-width: 100%;
    width: 100%;
    height: auto;
    background-size: cover;
    right: 0;
    z-index: -1;
}
